body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

button {
  background: transparent;
  border: 2px solid #DF8441;
  cursor:pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 10pt;

}